.mv-btn {
  @apply text-primary border rounded-lg px-2 py-1 shadow cursor-pointer;
  transition: all 100ms ease;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  -webkit-user-drag: none;

  &:hover {
    @apply shadow-lg;
  }
}

.mv-btn-inverted {
  @apply text-white border rounded-lg px-2 py-1 shadow cursor-pointer shadow;
  box-shadow: 0 1px 3px 0 rgba(white, 0.5);


  transition: all 100ms ease;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  -webkit-user-drag: none;

  &:hover {
    box-shadow: 0 5px 15px -3px rgba(white, 0.5);
  }
}

.primary-icon {
  filter: invert(37%) sepia(71%) saturate(469%) hue-rotate(170deg) brightness(83%) contrast(98%);
}

.white-icon {
  filter: invert(99%) sepia(0%) saturate(1983%) hue-rotate(172deg) brightness(114%) contrast(101%);
}