.flag-icon-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}

.flag-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  line-height: 1em;
}

.flag-icon:before {
  content: "\00a0";
}

.flag-icon-ad {
  background-image: url('../icons/flags/ad.svg');
}

.flag-icon-ae {
  background-image: url('../icons/flags/ae.svg');
}

.flag-icon-af {
  background-image: url('../icons/flags/af.svg');
}

.flag-icon-ag {
  background-image: url('../icons/flags/ag.svg');
}

.flag-icon-ai {
  background-image: url('../icons/flags/ai.svg');
}

.flag-icon-al {
  background-image: url('../icons/flags/al.svg');
}

.flag-icon-am {
  background-image: url('../icons/flags/am.svg');
}

.flag-icon-ao {
  background-image: url('../icons/flags/ao.svg');
}

.flag-icon-aq {
  background-image: url('../icons/flags/aq.svg');
}

.flag-icon-ar {
  background-image: url('../icons/flags/ar.svg');
}

.flag-icon-as {
  background-image: url('../icons/flags/as.svg');
}

.flag-icon-at {
  background-image: url('../icons/flags/at.svg');
}

.flag-icon-au {
  background-image: url('../icons/flags/au.svg');
}

.flag-icon-aw {
  background-image: url('../icons/flags/aw.svg');
}

.flag-icon-ax {
  background-image: url('../icons/flags/ax.svg');
}

.flag-icon-az {
  background-image: url('../icons/flags/az.svg');
}

.flag-icon-ba {
  background-image: url('../icons/flags/ba.svg');
}

.flag-icon-bb {
  background-image: url('../icons/flags/bb.svg');
}

.flag-icon-bd {
  background-image: url('../icons/flags/bd.svg');
}

.flag-icon-be {
  background-image: url('../icons/flags/be.svg');
}

.flag-icon-bf {
  background-image: url('../icons/flags/bf.svg');
}

.flag-icon-bg {
  background-image: url('../icons/flags/bg.svg');
}

.flag-icon-bh {
  background-image: url('../icons/flags/bh.svg');
}

.flag-icon-bi {
  background-image: url('../icons/flags/bi.svg');
}

.flag-icon-bj {
  background-image: url('../icons/flags/bj.svg');
}

.flag-icon-bl {
  background-image: url('../icons/flags/bl.svg');
}

.flag-icon-bm {
  background-image: url('../icons/flags/bm.svg');
}

.flag-icon-bn {
  background-image: url('../icons/flags/bn.svg');
}

.flag-icon-bo {
  background-image: url('../icons/flags/bo.svg');
}

.flag-icon-bq {
  background-image: url('../icons/flags/bq.svg');
}

.flag-icon-br {
  background-image: url('../icons/flags/br.svg');
}

.flag-icon-bs {
  background-image: url('../icons/flags/bs.svg');
}

.flag-icon-bt {
  background-image: url('../icons/flags/bt.svg');
}

.flag-icon-bv {
  background-image: url('../icons/flags/bv.svg');
}

.flag-icon-bw {
  background-image: url('../icons/flags/bw.svg');
}

.flag-icon-by {
  background-image: url('../icons/flags/by.svg');
}

.flag-icon-bz {
  background-image: url('../icons/flags/bz.svg');
}

.flag-icon-ca {
  background-image: url('../icons/flags/ca.svg');
}

.flag-icon-cc {
  background-image: url('../icons/flags/cc.svg');
}

.flag-icon-cd {
  background-image: url('../icons/flags/cd.svg');
}

.flag-icon-cf {
  background-image: url('../icons/flags/cf.svg');
}

.flag-icon-cg {
  background-image: url('../icons/flags/cg.svg');
}

.flag-icon-ch {
  background-image: url('../icons/flags/ch.svg');
}

.flag-icon-ci {
  background-image: url('../icons/flags/ci.svg');
}

.flag-icon-ck {
  background-image: url('../icons/flags/ck.svg');
}

.flag-icon-cl {
  background-image: url('../icons/flags/cl.svg');
}

.flag-icon-cm {
  background-image: url('../icons/flags/cm.svg');
}

.flag-icon-cn {
  background-image: url('../icons/flags/cn.svg');
}

.flag-icon-co {
  background-image: url('../icons/flags/co.svg');
}

.flag-icon-cr {
  background-image: url('../icons/flags/cr.svg');
}

.flag-icon-cu {
  background-image: url('../icons/flags/cu.svg');
}

.flag-icon-cv {
  background-image: url('../icons/flags/cv.svg');
}

.flag-icon-cw {
  background-image: url('../icons/flags/cw.svg');
}

.flag-icon-cx {
  background-image: url('../icons/flags/cx.svg');
}

.flag-icon-cy {
  background-image: url('../icons/flags/cy.svg');
}

.flag-icon-cz {
  background-image: url('../icons/flags/cz.svg');
}

.flag-icon-de {
  background-image: url('../icons/flags/de.svg');
}

.flag-icon-dj {
  background-image: url('../icons/flags/dj.svg');
}

.flag-icon-dk {
  background-image: url('../icons/flags/dk.svg');
}

.flag-icon-dm {
  background-image: url('../icons/flags/dm.svg');
}

.flag-icon-do {
  background-image: url('../icons/flags/do.svg');
}

.flag-icon-dz {
  background-image: url('../icons/flags/dz.svg');
}

.flag-icon-ec {
  background-image: url('../icons/flags/ec.svg');
}

.flag-icon-ee {
  background-image: url('../icons/flags/ee.svg');
}

.flag-icon-eg {
  background-image: url('../icons/flags/eg.svg');
}

.flag-icon-eh {
  background-image: url('../icons/flags/eh.svg');
}

.flag-icon-er {
  background-image: url('../icons/flags/er.svg');
}

.flag-icon-es {
  background-image: url('../icons/flags/es.svg');
}

.flag-icon-et {
  background-image: url('../icons/flags/et.svg');
}

.flag-icon-fi {
  background-image: url('../icons/flags/fi.svg');
}

.flag-icon-fj {
  background-image: url('../icons/flags/fj.svg');
}

.flag-icon-fk {
  background-image: url('../icons/flags/fk.svg');
}

.flag-icon-fm {
  background-image: url('../icons/flags/fm.svg');
}

.flag-icon-fo {
  background-image: url('../icons/flags/fo.svg');
}

.flag-icon-fr {
  background-image: url('../icons/flags/fr.svg');
}

.flag-icon-ga {
  background-image: url('../icons/flags/ga.svg');
}

.flag-icon-gb {
  background-image: url('../icons/flags/gb.svg');
}

.flag-icon-gd {
  background-image: url('../icons/flags/gd.svg');
}

.flag-icon-ge {
  background-image: url('../icons/flags/ge.svg');
}

.flag-icon-gf {
  background-image: url('../icons/flags/gf.svg');
}

.flag-icon-gg {
  background-image: url('../icons/flags/gg.svg');
}

.flag-icon-gh {
  background-image: url('../icons/flags/gh.svg');
}

.flag-icon-gi {
  background-image: url('../icons/flags/gi.svg');
}

.flag-icon-gl {
  background-image: url('../icons/flags/gl.svg');
}

.flag-icon-gm {
  background-image: url('../icons/flags/gm.svg');
}

.flag-icon-gn {
  background-image: url('../icons/flags/gn.svg');
}

.flag-icon-gp {
  background-image: url('../icons/flags/gp.svg');
}

.flag-icon-gq {
  background-image: url('../icons/flags/gq.svg');
}

.flag-icon-gr {
  background-image: url('../icons/flags/gr.svg');
}

.flag-icon-gs {
  background-image: url('../icons/flags/gs.svg');
}

.flag-icon-gt {
  background-image: url('../icons/flags/gt.svg');
}

.flag-icon-gu {
  background-image: url('../icons/flags/gu.svg');
}

.flag-icon-gw {
  background-image: url('../icons/flags/gw.svg');
}

.flag-icon-gy {
  background-image: url('../icons/flags/gy.svg');
}

.flag-icon-hk {
  background-image: url('../icons/flags/hk.svg');
}

.flag-icon-hm {
  background-image: url('../icons/flags/hm.svg');
}

.flag-icon-hn {
  background-image: url('../icons/flags/hn.svg');
}

.flag-icon-hr {
  background-image: url('../icons/flags/hr.svg');
}

.flag-icon-ht {
  background-image: url('../icons/flags/ht.svg');
}

.flag-icon-hu {
  background-image: url('../icons/flags/hu.svg');
}

.flag-icon-id {
  background-image: url('../icons/flags/id.svg');
}

.flag-icon-ie {
  background-image: url('../icons/flags/ie.svg');
}

.flag-icon-il {
  background-image: url('../icons/flags/il.svg');
}

.flag-icon-im {
  background-image: url('../icons/flags/im.svg');
}

.flag-icon-in {
  background-image: url('../icons/flags/in.svg');
}

flag-icon-io {
  background-image: url('../icons/flags/io.svg');
}

.flag-icon-iq {
  background-image: url('../icons/flags/iq.svg');
}

.flag-icon-ir {
  background-image: url('../icons/flags/ir.svg');
}

.flag-icon-is {
  background-image: url('../icons/flags/is.svg');
}

.flag-icon-it {
  background-image: url('../icons/flags/it.svg');
}

.flag-icon-je {
  background-image: url('../icons/flags/je.svg');
}

.flag-icon-jm {
  background-image: url('../icons/flags/jm.svg');
}

.flag-icon-jo {
  background-image: url('../icons/flags/jo.svg');
}

.flag-icon-jp {
  background-image: url('../icons/flags/jp.svg');
}

.flag-icon-ke {
  background-image: url('../icons/flags/ke.svg');
}

.flag-icon-kg {
  background-image: url('../icons/flags/kg.svg');
}

.flag-icon-kh {
  background-image: url('../icons/flags/kh.svg');
}

.flag-icon-ki {
  background-image: url('../icons/flags/ki.svg');
}

.flag-icon-km {
  background-image: url('../icons/flags/km.svg');
}

.flag-icon-kn {
  background-image: url('../icons/flags/kn.svg');
}

.flag-icon-kp {
  background-image: url('../icons/flags/kp.svg');
}

.flag-icon-kr {
  background-image: url('../icons/flags/kr.svg');
}

.flag-icon-kw {
  background-image: url('../icons/flags/kw.svg');
}

.flag-icon-ky {
  background-image: url('../icons/flags/ky.svg');
}

.flag-icon-kz {
  background-image: url('../icons/flags/kz.svg');
}

.flag-icon-la {
  background-image: url('../icons/flags/la.svg');
}

.flag-icon-lb {
  background-image: url('../icons/flags/lb.svg');
}

.flag-icon-lc {
  background-image: url('../icons/flags/lc.svg');
}

.flag-icon-li {
  background-image: url('../icons/flags/li.svg');
}

.flag-icon-lk {
  background-image: url('../icons/flags/lk.svg');
}

.flag-icon-lr {
  background-image: url('../icons/flags/lr.svg');
}

.flag-icon-ls {
  background-image: url('../icons/flags/ls.svg');
}

.flag-icon-lt {
  background-image: url('../icons/flags/lt.svg');
}

.flag-icon-lu {
  background-image: url('../icons/flags/lu.svg');
}

.flag-icon-lv {
  background-image: url('../icons/flags/lv.svg');
}

.flag-icon-ly {
  background-image: url('../icons/flags/ly.svg');
}

.flag-icon-ma {
  background-image: url('../icons/flags/ma.svg');
}

.flag-icon-mc {
  background-image: url('../icons/flags/mc.svg');
}

.flag-icon-md {
  background-image: url('../icons/flags/md.svg');
}

.flag-icon-me {
  background-image: url('../icons/flags/me.svg');
}

.flag-icon-mf {
  background-image: url('../icons/flags/mf.svg');
}

.flag-icon-mg {
  background-image: url('../icons/flags/mg.svg');
}

.flag-icon-mh {
  background-image: url('../icons/flags/mh.svg');
}

.flag-icon-mk {
  background-image: url('../icons/flags/mk.svg');
}

.flag-icon-ml {
  background-image: url('../icons/flags/ml.svg');
}

.flag-icon-mm {
  background-image: url('../icons/flags/mm.svg');
}

.flag-icon-mn {
  background-image: url('../icons/flags/mn.svg');
}

.flag-icon-mo {
  background-image: url('../icons/flags/mo.svg');
}

.flag-icon-mp {
  background-image: url('../icons/flags/mp.svg');
}

.flag-icon-mq {
  background-image: url('../icons/flags/mq.svg');
}

.flag-icon-mr {
  background-image: url('../icons/flags/mr.svg');
}

.flag-icon-ms {
  background-image: url('../icons/flags/ms.svg');
}

.flag-icon-mt {
  background-image: url('../icons/flags/mt.svg');
}

.flag-icon-mu {
  background-image: url('../icons/flags/mu.svg');
}

.flag-icon-mv {
  background-image: url('../icons/flags/mv.svg');
}

.flag-icon-mw {
  background-image: url('../icons/flags/mw.svg');
}

.flag-icon-mx {
  background-image: url('../icons/flags/mx.svg');
}

.flag-icon-my {
  background-image: url('../icons/flags/my.svg');
}

.flag-icon-mz {
  background-image: url('../icons/flags/mz.svg');
}

.flag-icon-na {
  background-image: url('../icons/flags/na.svg');
}

.flag-icon-nc {
  background-image: url('../icons/flags/nc.svg');
}

.flag-icon-ne {
  background-image: url('../icons/flags/ne.svg');
}

.flag-icon-nf {
  background-image: url('../icons/flags/nf.svg');
}

.flag-icon-ng {
  background-image: url('../icons/flags/ng.svg');
}

.flag-icon-ni {
  background-image: url('../icons/flags/ni.svg');
}

.flag-icon-nl {
  background-image: url('../icons/flags/nl.svg');
}

.flag-icon-no {
  background-image: url('../icons/flags/no.svg');
}

.flag-icon-np {
  background-image: url('../icons/flags/np.svg');
}

.flag-icon-nr {
  background-image: url('../icons/flags/nr.svg');
}

.flag-icon-nu {
  background-image: url('../icons/flags/nu.svg');
}

.flag-icon-nz {
  background-image: url('../icons/flags/nz.svg');
}

.flag-icon-om {
  background-image: url('../icons/flags/om.svg');
}

.flag-icon-pa {
  background-image: url('../icons/flags/pa.svg');
}

.flag-icon-pe {
  background-image: url('../icons/flags/pe.svg');
}

.flag-icon-pf {
  background-image: url('../icons/flags/pf.svg');
}

.flag-icon-pg {
  background-image: url('../icons/flags/pg.svg');
}

.flag-icon-ph {
  background-image: url('../icons/flags/ph.svg');
}

.flag-icon-pk {
  background-image: url('../icons/flags/pk.svg');
}

.flag-icon-pl {
  background-image: url('../icons/flags/pl.svg');
}

.flag-icon-pm {
  background-image: url('../icons/flags/pm.svg');
}

.flag-icon-pn {
  background-image: url('../icons/flags/pn.svg');
}

.flag-icon-pr {
  background-image: url('../icons/flags/pr.svg');
}

.flag-icon-ps {
  background-image: url('../icons/flags/ps.svg');
}

.flag-icon-pt {
  background-image: url('../icons/flags/pt.svg');
}

.flag-icon-pw {
  background-image: url('../icons/flags/pw.svg');
}

.flag-icon-py {
  background-image: url('../icons/flags/py.svg');
}

.flag-icon-qa {
  background-image: url('../icons/flags/qa.svg');
}

.flag-icon-re {
  background-image: url('../icons/flags/re.svg');
}

.flag-icon-ro {
  background-image: url('../icons/flags/ro.svg');
}

.flag-icon-rs {
  background-image: url('../icons/flags/rs.svg');
}

.flag-icon-ru {
  background-image: url('../icons/flags/ru.svg');
}

.flag-icon-rw {
  background-image: url('../icons/flags/rw.svg');
}

.flag-icon-sa {
  background-image: url('../icons/flags/sa.svg');
}

.flag-icon-sb {
  background-image: url('../icons/flags/sb.svg');
}

.flag-icon-sc {
  background-image: url('../icons/flags/sc.svg');
}

.flag-icon-sd {
  background-image: url('../icons/flags/sd.svg');
}

.flag-icon-se {
  background-image: url('../icons/flags/se.svg');
}

.flag-icon-sg {
  background-image: url('../icons/flags/sg.svg');
}

.flag-icon-sh {
  background-image: url('../icons/flags/sh.svg');
}

.flag-icon-si {
  background-image: url('../icons/flags/si.svg');
}

.flag-icon-sj {
  background-image: url('../icons/flags/sj.svg');
}

.flag-icon-sk {
  background-image: url('../icons/flags/sk.svg');
}

.flag-icon-sl {
  background-image: url('../icons/flags/sl.svg');
}

.flag-icon-sm {
  background-image: url('../icons/flags/sm.svg');
}

.flag-icon-sn {
  background-image: url('../icons/flags/sn.svg');
}

.flag-icon-so {
  background-image: url('../icons/flags/so.svg');
}

.flag-icon-sr {
  background-image: url('../icons/flags/sr.svg');
}

.flag-icon-ss {
  background-image: url('../icons/flags/ss.svg');
}

.flag-icon-st {
  background-image: url('../icons/flags/st.svg');
}

.flag-icon-sv {
  background-image: url('../icons/flags/sv.svg');
}

.flag-icon-sx {
  background-image: url('../icons/flags/sx.svg');
}

.flag-icon-sy {
  background-image: url('../icons/flags/sy.svg');
}

.flag-icon-sz {
  background-image: url('../icons/flags/sz.svg');
}

.flag-icon-tc {
  background-image: url('../icons/flags/tc.svg');
}

.flag-icon-td {
  background-image: url('../icons/flags/td.svg');
}

.flag-icon-tf {
  background-image: url('../icons/flags/tf.svg');
}

.flag-icon-tg {
  background-image: url('../icons/flags/tg.svg');
}

.flag-icon-th {
  background-image: url('../icons/flags/th.svg');
}

.flag-icon-tj {
  background-image: url('../icons/flags/tj.svg');
}

.flag-icon-tk {
  background-image: url('../icons/flags/tk.svg');
}

.flag-icon-tl {
  background-image: url('../icons/flags/tl.svg');
}

.flag-icon-tm {
  background-image: url('../icons/flags/tm.svg');
}

.flag-icon-tn {
  background-image: url('../icons/flags/tn.svg');
}

.flag-icon-to {
  background-image: url('../icons/flags/to.svg');
}

.flag-icon-tr {
  background-image: url('../icons/flags/tr.svg');
}

.flag-icon-tt {
  background-image: url('../icons/flags/tt.svg');
}

.flag-icon-tv {
  background-image: url('../icons/flags/tv.svg');
}

.flag-icon-tw {
  background-image: url('../icons/flags/tw.svg');
}

.flag-icon-tz {
  background-image: url('../icons/flags/tz.svg');
}

.flag-icon-ua {
  background-image: url('../icons/flags/ua.svg');
}

.flag-icon-ug {
  background-image: url('../icons/flags/ug.svg');
}

.flag-icon-um {
  background-image: url('../icons/flags/um.svg');
}

.flag-icon-us {
  background-image: url('../icons/flags/us.svg');
}

.flag-icon-uy {
  background-image: url('../icons/flags/uy.svg');
}

.flag-icon-uz {
  background-image: url('../icons/flags/uz.svg');
}

.flag-icon-va {
  background-image: url('../icons/flags/va.svg');
}

.flag-icon-vc {
  background-image: url('../icons/flags/vc.svg');
}

.flag-icon-ve {
  background-image: url('../icons/flags/ve.svg');
}

.flag-icon-vg {
  background-image: url('../icons/flags/vg.svg');
}

.flag-icon-vi {
  background-image: url('../icons/flags/vi.svg');
}

.flag-icon-vn {
  background-image: url('../icons/flags/vn.svg');
}

.flag-icon-vu {
  background-image: url('../icons/flags/vu.svg');
}

.flag-icon-wf {
  background-image: url('../icons/flags/wf.svg');
}

.flag-icon-ws {
  background-image: url('../icons/flags/ws.svg');
}

.flag-icon-ye {
  background-image: url('../icons/flags/ye.svg');
}

.flag-icon-yt {
  background-image: url('../icons/flags/yt.svg');
}

.flag-icon-za {
  background-image: url('../icons/flags/za.svg');
}

.flag-icon-zm {
  background-image: url('../icons/flags/zm.svg');
}

.flag-icon-zw {
  background-image: url('../icons/flags/zw.svg');
}

.flag-icon-es-ca {
  background-image: url('../icons/flags/es-ca.svg');
}

.flag-icon-eu {
  background-image: url('../icons/flags/eu.svg');
}

.flag-icon-gb-eng {
  background-image: url('../icons/flags/gb-eng.svg');
}

.flag-icon-gb-nir {
  background-image: url('../icons/flags/gb-nir.svg');
}

.flag-icon-gb-sct {
  background-image: url('../icons/flags/gb-sct.svg');
}

.flag-icon-gb-wls {
  background-image: url('../icons/flags/gb-wls.svg');
}

.flag-icon-un {
  background-image: url('../icons/flags/un.svg');
}

.flag-icon-xk {
  background-image: url('../icons/flags/xk.svg');
}