.mv-btn {
  @apply text-primary rounded-lg px-2 py-1 shadow cursor-pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  -webkit-user-drag: none;

  &:hover {
    @apply shadow-lg;
  }
}

.mv-btn-inverted {
  @apply text-white rounded-lg px-2 py-1 cursor-pointer select-none;
}

.box {
  @apply flex items-center justify-center transition duration-300 text-lg text-primary bg-white mt-2 ml-3 mr-3 p-3;
  @apply rounded-l-lg rounded-tr-lg;
}

.primary-icon {
  filter: invert(37%) sepia(71%) saturate(469%) hue-rotate(170deg) brightness(83%) contrast(98%);
}

.white-icon {
  filter: invert(99%) sepia(0%) saturate(1983%) hue-rotate(172deg) brightness(114%) contrast(101%);
}