.mv-icon-background {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}

.mv-icon {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    width: 1.33333333em;
    line-height: 1em;
}

.mv-icon:before {
    content: '\00a0';
}

.mv-icon-arrows {
    background-image: url('../icons/arrows.svg');
}

.mv-icon-bike {
    background-image: url('../icons/bike.svg');
}

.mv-icon-cancel {
    background-image: url('../icons/cancel.svg');
}

.mv-icon-car {
    background-image: url('../icons/car.svg');
}

.mv-icon-chevron {
    background-image: url('../icons/chevron.svg');
}

.mv-icon-edit {
    background-image: url('../icons/edit.svg');
}

.mv-icon-flight {
    background-image: url('../icons/flight.svg');
}

.mv-icon-hiking {
    background-image: url('../icons/hiking.svg');
}

.mv-icon-laptime {
    background-image: url('../icons/laptime.svg');
}

.mv-icon-menu {
    background-image: url('../icons/menu.svg');
}

.mv-icon-predictions {
    background-image: url('../icons/predictions.svg');
}

.mv-icon-question {
    background-image: url('../icons/question.svg');
}

.mv-icon-rocket {
    background-image: url('../icons/rocket.svg');
}

.mv-icon-run {
    background-image: url('../icons/run.svg');
}

.mv-icon-settings {
    background-image: url('../icons/settings.svg');
}

.mv-icon-sort-asc {
    background-image: url('../icons/sort-asc.svg');
}

.mv-icon-sort-desc {
    background-image: url('../icons/sort-desc.svg');
}

.mv-icon-space-ship {
    background-image: url('../icons/rocket.svg');
}

.mv-icon-timer {
    background-image: url('../icons/timer.svg');
}

.mv-icon-walk {
    background-image: url('../icons/walk.svg');
}

.mv-icon-link {
    background-image: url('../icons/link.svg');
}

.mv-icon-correct {
    background-image: url('../icons/correct.svg');
}
